PROVIDER_PUBLIC_KEY=your_provider_public_key
PROVIDER_SECRET_KEY=your_provider_secret_key
AGENT_PUBLIC_KEY=your_agent_public_key
AGENT_SECRET_KEY=your_agent_secret_key
NETWORK=testnet
PORT=3000
USDC_ISSUER=GBYB7LIBRRVDHLJ55BKUC4SYUXJMP5PSLYQONGWCOCK5NCCICYYVOU3N
USDC_ISSUER_SECRET=your_usdc_issuer_secret
BASE_URL=https://agentmarket-21w2.onrender.com
